# Ignore everything
/*
!.gitignore
!.gitmodules

# Except for the files and folders we want to track

# Except For:

# .files
!.bashrc
!.pkgs
!.zshrc
!.Xresources
!.xprofile
.git-prompt.sh
# config folder
!.config
!.local
